a {
  text-decoration: none;
  color: #f95859;
}

main {
  text-align: start;
  /* font-size: small; */
}

p {
  text-align: start;
}

em {
  font-size: 16px;
  color: #f95859;
}

.App-logo {
  max-width: 50%;
}

.Photos img {
  border-radius: 4px;
  /* margin-bottom: 10px;
  padding: 10px; */
}

.form-control:focus {
  border-color: #f95859;
}

.hint {
  color: #7f5359;
  opacity: 0.8;
  padding-left: 173px;
}

.welcome-text {
  color: #2f2e41;
}

.part-of-speech .results {
  color: #2f2e41;
}

.btn {
  background-color: #f95859;
  color: #fff;
}

.btn:hover {
  background: #2f2e41;
  color: white;
}

.search-word {
  height: 60px;
}

.search-word a {
  text-decoration: none;
  color: #f95859;
  border: 1px solid #ddd;
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150 ms ease-in-out;
}

.search-word a:hover {
  background: #2f2e41;
  color: white;
}

.Phonetic .transcription {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 600;
}

.App .welcome-text {
  font-size: 22px;
  color: #2f2e41;
}
